* {
  box-sizing: border-box; }

body {
  font-family: "Poppins"; }

img {
  width: 100%;
  display: block; }

@media screen and (min-width: 650px) {
  #app-container {
    padding-left: 41.666%; } }

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10; }
  nav a {
    padding: 10px;
    background: #4F3C5F;
    display: block;
    margin: 6px;
    color: #fff;
    text-decoration: none; }
  @media screen and (min-width: 650px) {
    nav {
      left: initial;
      right: 0;
      text-align: left; } }

.portfolio-fixed {
  /* background: url("https://media.giphy.com/media/xT9IgN8YKRhByRBzMI/giphy.gif"); */
  background: #A5677A;
  background-size: cover;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  color: #fff;
  /* Mobile Styles */
  padding: 30px 0; }
  @media screen and (min-width: 650px) {
    .portfolio-fixed {
      position: fixed;
      padding: 0;
      top: 0;
      left: 0;
      height: 100vh;
      width: 41.67%; } }

.portfolio-fixed img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  display: block;
  margin: 10px auto; }

.ImageProject {
  max-width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  margin: 10px auto;
  display: flex; }

.portfolio-fixed > * {
  text-align: center;
  flex-basis: 100%;
  justify-self: center;
  position: relative; }

.portfolio-fixed h1 {
  font-weight: 500;
  margin-bottom: 8px; }

.portfolio-fixed p {
  color: #ccc;
  font-weight: 300;
  margin-top: 0; }


header {
  padding: 20px 0 15px;
  text-align: center; }
  header h2 {
    margin: 0; }

section {
  padding: 20px;
  max-width: 600px;
  font-size: 1.25em;
  color: #bbb;
  margin: 0 auto;
  font-weight: 300; }

section h4 {
  color: #A5677A; }

.skills-list {
  text-align: left; }

.skills-list__single {
  display: inline-block;
  vertical-align: center;
  padding: 10px 15px;
  background: #ededed;
  margin: 5px 5px 5px 0px;
  color: #4F3C5F; }
 
content {
    display: flex;
    justify-content: center;
}

div.col-md-6 {
  display: flex;
  justify-content: center;
}

.contactinfo__single {
  line-height: initial;
  display: block;
  width: 100%;
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
  padding: 5px;
  text-decoration: none; }

.contactinfo__single:hover {
  background: url("../images/grey.png"); }
  .contactinfo__single:hover .contactinfo__title {
    color: #00BCD4; }

.contactinfo__title {
  color: #aaa;
  display: inline-block;
  align-content: center;
  vertical-align: middle;
  width: 100%;
  font-weight: 300;
  width: 90%; }

.contactinfo__icon {
  display: inline-block;
  align-content: end;
  vertical-align: middle;
  color: #E7AAA5;
  text-align: center;
  font-size: 32px;
  width: 8%; }

